:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.6em;
  font-size: 18px;
  color: #444;
}

h1, h2, h3, h4 {
  line-height: 1.2em;
}

body {
  max-width: 36em;
  margin: 0 auto;
  padding: 1em;
}

a {
  color: #3879d9;
  text-decoration: none;
}

a:hover {
  color: #3879d9;
  text-decoration: underline;
}

pre {
  background: #151515;
  color: #fff;
  padding: 1.6em;
  border-radius: 4px;
}

code {
  font-family: 'Inconsolata', monospace;
}

header p, footer p {
  color: #999;
}

header p a, footer p a {
  color: #999;
}

article {
  padding-bottom: 3em;
  margin-bottom: 3em;
  border-bottom: 2px solid #eee;
}
